<!--<h1>{{ title }}</h1>-->
<!--<hr/>-->
<!-- bases de Angular -->
<!--<app-counter></app-counter>-->
<!--<app-heroes-hero></app-heroes-hero>-->
<!--<app-heroes-list></app-heroes-list>-->

<!-- Expansión de las bases -->
<!--<app-main-dbz-page></app-main-dbz-page>-->

<!-- Fetching de datos -->
<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
    <gifs-home-page class="md:col-span-3"></gifs-home-page>
    <shared-sidebar class="md:col-span-1"></shared-sidebar>
  </div>
</div>
